.tutorials:after,
.tutorials:before{
  content: '';
  display: block;
  clear: both;
}

.tutorials:after {
  *zoom: 1;
}

.tutorial {
  width: 100px;
  float: left;
  margin-right: 10px;
}

.tutorial p {
  margin-top: 0;
}

.tutorial img {
  width: 100px;
  height: 100px;
  -webkit-box-shadow: 0px 10px 23px 0px rgba(50, 50, 50, 0.61);
  -moz-box-shadow:    0px 10px 23px 0px rgba(50, 50, 50, 0.61);
  box-shadow:         0px 10px 23px 0px rgba(50, 50, 50, 0.61);
}
