.tutorials:after,
.tutorials:before{
  content: '';
  display: block;
  clear: both;
}

.tutorials:after {
  *zoom: 1;
}

.tutorial {
  width: 150px;
  float: left;
  margin-right: 10px;
}

.tutorial p {
  margin-top: 0;
}
